@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Set the deafult values */
  --selected-primary-color: var(--light-primary-color);
  --selected-secondary-color: var(--light-primary-color);
  --selected-disabled-color: var(--light-disabled-color);
  
  /* Set the 'light' theme */
  --light-primary-color: #58585a;
  --light-secondary-color: #f1f1f1;
  --light-disabled-color: #58585acc;

  /* Set the 'dark' theme */
  --dark-primary-color: #f1f1f1;
  --dark-secondary-color: #58585a;
  --dark-disabled-color: #f1f1f1cc;  
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* width */
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background: #58585acc;
  border-radius: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #58585a;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #58585aaa;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}



@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
